version: "3"
services:
  btcpayserver:
    image: btcpayserver/btcpayserver:1.6.12
    expose:
      - "49392"
    environment:
      BTCPAY_POSTGRES: User ID=postgres;Host=postgres;Port=5432;Database=btcpayserver
      BTCPAY_NETWORK: regtest
      BTCPAY_BIND: 0.0.0.0:49392
      BTCPAY_ROOTPATH: /
      BTCPAY_DEBUGLOG: btcpay.log
      BTCPAY_UPDATEURL: https://api.github.com/repos/btcpayserver/btcpayserver/releases/latest
      BTCPAY_DOCKERDEPLOYMENT: "true"
      BTCPAY_CHAINS: "btc"
      BTCPAY_BTCEXPLORERURL: http://nbxplorer:32838/
    volumes:
      - "btcpay_datadir:/datadir"
      - "nbxplorer_datadir:/root/.nbxplorer"
      - "btcpay_pluginsdir:/root/.btcpayserver/Plugins"
    ports:
      - "8888:49392"

  bitcoind:
    container_name: btcpayserver_bitcoind
    image: btcpayserver/bitcoin:23.0
    environment:
      BITCOIN_NETWORK: regtest
      BITCOIN_WALLETDIR: "/walletdata"
      BITCOIN_EXTRA_ARGS: |-
        rpcport=43782
        rpcbind=0.0.0.0:43782
        rpcallowip=0.0.0.0/0
        port=39388
        whitelist=0.0.0.0/0
        maxmempool=500
        prune=50000
    expose:
      - "43782"
      - "39388"
    ports:
      - "18443:43782"
    volumes:
      - "bitcoin_datadir:/data"
      - "bitcoin_wallet_datadir:/walletdata"

  nbxplorer:
    image: nicolasdorier/nbxplorer:2.3.39
    expose:
      - "32838"
    environment:
      NBXPLORER_NETWORK: regtest
      NBXPLORER_BIND: 0.0.0.0:32838
      NBXPLORER_TRIMEVENTS: 10000
      NBXPLORER_SIGNALFILESDIR: /datadir
      NBXPLORER_CHAINS: "btc"
      NBXPLORER_POSTGRES: User ID=postgres;Include Error Detail=true;Host=postgres;Port=5432
      NBXPLORER_BTCRPCURL: http://bitcoind:43782/
      NBXPLORER_BTCNODEENDPOINT: bitcoind:39388
    volumes:
      - "nbxplorer_datadir:/datadir"
      - "bitcoin_datadir:/root/.bitcoin"
    depends_on:
      - postgres

  postgres:
    image: btcpayserver/postgres:13.7
    environment:
      POSTGRES_HOST_AUTH_METHOD: trust
    volumes:
      - "postgres_datadir:/var/lib/postgresql/data"

  mariadb:
    image: bitnami/mariadb:10.7
    environment:
      - ALLOW_EMPTY_PASSWORD=yes
      - MARIADB_SKIP_TEST_DB=yes
      - MARIADB_USER=prestashop
      - MARIADB_PASSWORD=bitnami
      - MARIADB_DATABASE=prestashop
    volumes:
      - "mariadb_data:/bitnami/mariadb"
    ports:
      - "3305:3306"

  prestashop:
    image: bitnami/prestashop:1.7
    ports:
      - "80:8080"
      - "443:8443"
    environment:
      - PRESTASHOP_HOST=127.0.0.1
      - PRESTASHOP_DATABASE_HOST=mariadb
      - PRESTASHOP_DATABASE_PORT_NUMBER=3306
      - PRESTASHOP_DATABASE_USER=prestashop
      - PRESTASHOP_DATABASE_PASSWORD=bitnami
      - PRESTASHOP_DATABASE_NAME=prestashop
      - PRESTASHOP_EMAIL=user@example.com
      - PRESTASHOP_PASSWORD=bitnami1
    volumes:
      - "prestashop_data:/bitnami/prestashop"
    depends_on:
      - mariadb
      - btcpayserver
    links:
      - mariadb
      - btcpayserver

  mailhog:
    image: mailhog/mailhog:latest
    logging:
      driver: "none"
    ports:
      - "1025:1025"
      - "8025:8025"

volumes:
  btcpay_datadir:
  btcpay_pluginsdir:
  bitcoin_datadir:
  bitcoin_wallet_datadir:
  postgres_datadir:
  nbxplorer_datadir:
  mariadb_data:
    driver: local
  prestashop_data:
    driver: local
