<?xml version="1.0" encoding="UTF-8" ?>
<module>
    <name>BTCPay</name>
    <displayName><![CDATA[BTCPay]]></displayName>
    <version><![CDATA[2.0.0]]></version>
    <description><![CDATA[Accepts Bitcoin payments via BTCPay.]]></description>
    <author><![CDATA[ADAPP]]></author>
    <tab><![CDATA[payments_gateways]]></tab>
    <confirmUninstall><![CDATA[Are you sure you want to delete your details?]]></confirmUninstall>
    <is_configurable>1</is_configurable>
    <need_instance>1</need_instance>
</module>
